.Date {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 20px 0;

  &__date {
    font: {
      weight: 600;
      size: 4rem;
    };
  }

  &__month {
    font-weight: 700;
  }

  &__year {
    font-weight: 400;
    text-align: center;
  }

  &__day {
    font: {
      weight: 700;
      size: 1.5rem;
    };
    text-align: center;
    margin: auto 0;
  }
}